p::before{
    content: " ";
    width: 100%;
    position: absolute;
    height: 4px;
    background: #0af;
    bottom: -15px;
}

p{
    position: relative;
}

#loader{
    position: absolute;
    background: #fff8;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
}

#loader::after{
    content: " ";
    position: absolute;
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    z-index: 999;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}